/*this is a component css*/

.TodoListHadWebProps {}

.gAddToDoProps {
    border: lightskyblue solid 1px;
}

.vNewToDoProps {}

.Button1048579Props {}

.MainCanvasProps {}

.gTotalProps {
    border: lightskyblue solid 1px;
}

.Label1048583Props {
    overflow: hidden;
}

.vTotalRecordsProps {}

.Label1048585Props {
    overflow: hidden;
}

.vTotalDoneProps {}